.radio-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio-mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #e4e8f0;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radio-mark {
  /* background-color: #fff;
  border: 2px solid #e4e8f0; */
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radio-mark {
  /* background-color: #fff;
  border: 2px solid #e4e8f0; */
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-mark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio-mark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radio-mark:after {
 	top: 3px;
	left: 3px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #2196F3;
}
