@font-face {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat-Regular"), url("Montserrat-Regular.otf") format("otf");
}

body, div, img, p, ul, h1, h2, h3, span {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.main {
  /* width: 100%; */
  background: #e4e5e7;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.container--main {
  padding: 50px 0 50px;
}

.container--row {
  display: flex;
}

.container-col {
  display: flex;
  align-items: center;
}

.container-col--20 {
  width: 20%;
}

.container-col--60 {
  width: 60%;
}

.container-col--30 {
  width: 30%;
}

.container-col--right {
  justify-content: flex-end;
}

.container-col--left {
  justify-content: flex-start;
}

.container-col--center {
  justify-content: center;
}

.container--margin-top {
  margin-top: 30px;
}

.header {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #f0f2f7;
  color: #343e5c;
  display: flex;
  justify-content: center;
}

.header__logo {
  margin-left: 75px;
}

.header-nav {
  height: 100%;
  margin: 0;
  list-style-type: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weigth: 600;
}

.header-nav__item a {
  margin: 15px;
  text-decoration: none;
  color: #343e5c;
  color: inherit;
}

.header__sign {
  height: 28px;
  width: 80px;
  margin-left: 30px;
  border: 2px solid #e3e8f0;
  border-radius: 14px;
  font-size: 12px;
  background: transparent;
}

.header-menu__item a {
  color: #343e5c;
}

.header-cart {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-card span {
  margin-left: 7px;
}

.header-cart__text {
  margin-left: 7px;
}

.header-cart__number {
  width: 24px;
  height: 24px;
  margin-left: 7px;
  box-sizing: border-box;
  padding-top: 3px;
  text-align: center;
  align-items: center;
  font-weight: bold;
  border-radius: 50%;
  background: #e3e8f0;
  color: #343e5c;
}

.sub-menu {
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-menu a:hover {
  color: #343e5c;
}

.sub-menu-links {
  width: 60%;
  list-style-type: none;
  display: flex;
  font-size: 11px;
  justify-content: flex-start;
}

.sub-menu-links__item {
  margin-right: 30px;
  color: #b9bed1;
}

.sub-menu-links__item--active {
  color: #343e5c;
}

.sub-menu-links__item a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.sub-menu-search {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sub-menu-search a {
  font-size: 11px;
  text-decoration: none;
  font-weight: bold;
  color: #c2c7d7;
}

.sub-menu-search__input input {
  width: 150px;
  margin-left: 8px;
  border: 0;
  background: transparent;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.sub-menu-search__input input::placeholder {
  color: #a1a8bd;
}

.sub-menu-search__input {
  margin-left: 50px;
}

.banner {
  height: 500px;
  width: 100%;
  overflow: hidden;
}

.banner-slider {
  position: relative;
}

.banner-image {
  width: 100%;
  height: 100%;
}

.banner-slider-title {
  position: absolute;
  bottom: 310px;
  left: 100px;
  color: blue;
  font-size: 42px;
  font-weight: bolder;
}

.banner-slider-button {
  height: 42px;
  width: 165px;
  position: absolute;
  bottom: 105px;
  left: 100px;
  background: #2754eb;
  color: #fff;
  border-radius: 21px;
  border: none;
  font-size: 11px;
  font-weight: bold;
}

.sort {
  width: 100%;
  height: 55px;
  display: flex;
  box-sizing: border-box;
  background: #fff;
  border-radius: 4px;
  font-size: 11px;
}

.sort span {
  color: #c2c5ce;
  font-weight: bold;
}

.sort select {
  color: #343e5c;
  font-weight: bold;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  font-size: 11px;
}

.sort-by {
  width: 245px;
  height: 100%;
  border-right: 2px solid #f2f2f2;
  display: flex;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}

.sort-by__text {
  margin-left: 20px;
}

.sort-by-label {
  position: relative;
  height: 100%;
  width: 150px;
  margin-left: 20px;
}

.sort-by-label__select {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.sort-by-label__select:focus {
  outline: none;
}

.sort-by-label i {
  font-size: 14px;
  color: #c2c5ce;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.sort-mid {
  height: 100%;
  width: 690px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.sort-mid__text {
  margin-right: 12px;
}

.sort-mid__input {
  height: 30px;
  border: 1px solid #e3e8f0;
  background: #f0f2f7;
  color: #343e5c;
  font-size: 13px;
  width: 60px;
  border-radius: 30px;
  padding-left: 15px;
  box-sizing: border-box;
}

.sort-mid__input:focus {
  outline: none;
}

.sort-mid__input--long {
  width: 160px;
}

.sort-mid__input:placeholder {
  color: #b9bfd3;
  font-size: 13px;
}

.sort-mid-price {
  margin-left: 30px;
}

.sort-mid-freeship {
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.sort-mid-freeship span {
  color: #343e5c;
  font-size: 13px;
}

.sort-ship {
  width: 228px;
  height: 100%;
  border-left: 2px solid #f2f2f2;
  display: flex;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}

.sort-mid-freeship-label input {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  border: none;
}

.sort-ship__text {
  margin-left: 20px;
}

.sort-ship-label {
  position: relative;
  height: 100%;
  width: 130px;
  margin-left: 20px;
}

.sort-ship-label__select {
  width: 100%;
  height: 100%;
  /* padding: 20px 40px; */
  text-align: right;
}

.sort-ship-label__select:focus {
  outline: none;
}

.sort-ship-label i {
  font-size: 14px;
  color: #c2c5ce;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/* FILTER */

.filter {
  width: 270px;
  border-radius: 4px;
}

.filter-menu {
  width: 270px;
  border-radius: 4px;
  background: #fff;
}

.filter-menu-parent {
  list-style-type: none;
  width: 100%;
}

.filter-menu-parent-item {
  position: relative;
  padding: 15px 20px;
  border-bottom: 1px solid #f0f2f7;
  font-size: 13px;
  font-weight: bold;
  color: #343e5c;
}

.filter-menu-parent-item--no-border {
  border: none;
}

.filter-menu-parent-item i {
  position: absolute;
  right: 20px;
}

.filter-menu-parent-child {
  list-style-type: none;
}

.filter-available {
  width: 100%;
  border-radius: 4px 4px 0 0;
  background: #fff;
  margin-top: 30px;
}

.filter-available__text {
  padding: 16px 20px;
  color: #343e5c;
  font-weight: bold;
  font-size: 13px;
  border-bottom: 1px solid #f0f2f7;
}

.filter-available-group {
  padding: 10px 0 10px 20px;
  /* padding-left: 20px; */
  border-bottom: 1px solid #f0f2f7;
}

.filter-available-group-item__label {
  margin-bottom: 15px;
}

.filter-available-group-item__label span {
  font-size: 13px;
  color: #343e5c;
  font-weight: bold;
}

.filter-available-group-item {
  position: relative;
  margin: 8px 0;
}

.filter-available-group-item__quantity {
  color: #c6ccdc;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.filter-brand {
  width: 100%;
  border-radius: 0 0 4px 4px;
  background: #fff;
}

.filter-brand-head {
  position: relative;
  border-bottom: 1px solid #f0f2f7;
}

.filter-brand-group {
  padding: 10px 0 10px 20px;
  /* padding-left: 20px; */
  border-bottom: 1px solid #f0f2f7;
}

.filter-brand-group-item__label {
  margin-bottom: 15px;
}

.filter-brand-group-item__label span {
  font-size: 13px;
  color: #343e5c;
  font-weight: bold;
}

.filter-brand-group-item {
  position: relative;
  margin: 8px 0;
}

.filter-brand-group-item__quantity {
  color: #c6ccdc;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.filter-brand-head p {
  padding: 16px 20px;
  color: #343e5c;
  font-weight: bold;
  font-size: 13px;
}

.filter-brand-head span {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  color: #2754eb;
  text-decoration: underline;
  font-size: 11px;
  font-weight: bold;
}

/* END FILTER */

/*  */
.filter-condition {
  width: 100%;
  border-radius: 4px;
  background: #fff;
  margin-top: 30px;
}

.filter-condition-head {
  position: relative;
  border-bottom: 1px solid #f0f2f7;
}

.filter-condition-group {
  padding: 10px 0 10px 20px;
  /* padding-left: 20px; */
  border-bottom: 1px solid #f0f2f7;
}

.filter-condition-group-item__label {
  margin-bottom: 15px;
}

.filter-condition-group-item__label span {
  font-size: 13px;
  color: #343e5c;
  font-weight: bold;
}

.filter-condition-group-item {
  position: relative;
  margin: 8px 0;
}

.filter-condition-group-item__quantity {
  color: #c6ccdc;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.filter-condition-head p {
  padding: 16px 20px;
  color: #343e5c;
  font-weight: bold;
  font-size: 13px;
}

.filter-condition-head span {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  color: #2754eb;
  text-decoration: underline;
  font-size: 11px;
  font-weight: bold;
}
/*  */

.products {
  /* width: 870px; */
  /* margin-left: auto; */
  display: flex;
  flex-wrap: wrap;
  /* margin: 0 auto; */
}

.product-small-thumb {
  width: 270px;
  height: 380px;
  position: relative;
  border-radius: 4px;
  background: #fff;
  margin-left: auto;
  margin-bottom: 30px;
}

.product-small-thumb__image {
  height: 67%;
  width: 100%;
  position: relative;
}

.product-small-thumb__image img {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.product-small-thumb-detail {
  position: absolute;
  top: 260px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}

.product-small-thumb-detail__name {
  font-size: 16px;
  font-weight: bold;
  color: #1c1e23;
  margin: 0 0 11px;
}

.product-small-thumb-detail__color {
  font-size: 12px;
  font-weight: bold;
  color: #b8bfd3;
  margin: 0 0 13px;
}

.product-small-thumb-detail__price {
  font-size: 14px;
  font-weight: bold;
  color: #343e5c;
}

.product-long-thumb {
  width: 570px;
  height: 380px;
  background: #fff;
  margin-left: auto;
  margin-bottom: 30px;
}

.test {
  border: 1px dashed red;
}
